.search-results {
    width:100%;
    margin:0 auto;
    display:none;
}
.search-results table {
    min-width:700px;
}
.search-results > div {
    display:flex;
    margin-bottom:15px;
    justify-content:end;
}
.search-results drop-down {
    border:0;
}
.no-search-result {
    padding:60px 0;
    text-align:center!important;
}
